<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/battery.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


    <script>
        function updateBatteryLevel(value) {
            const batteryLevel = document.getElementById('batteryLevel');
            batteryLevel.style.height = (100 - value) + '%';
            if ( (value) < 5) batteryLevel.style.borderRadius = "8px 8px 8px 8px";
            else batteryLevel.style.borderRadius = "8px 8px 0px 0px";
            batteryPercentage.textContent = value;
        }

        function getBatteryData(){
            const Promises = [
                new Promise((resolve, reject) => {
                    fetch('/api/getHMIData')
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (HMIData) {
                            resolve(HMIData);
                        });
                }),
                new Promise((resolve, reject) => {
                    fetch('/api/getSolarData')
                        .then((res) => {
                            return res.json();
                        })
                        .then((solarData) => {
                            resolve(solarData);
                        })
                })
            ];

            Promise.all(Promises)
                .then(res => {
                    console.log(res);
                    let electricProduction = 0;
                    Object.keys(res[0]).forEach(host => {
                        res[0][host]['historyData']['electricProduction'].forEach(prod => {
                            electricProduction += prod;
                        })
                    });
                    electricProduction /= 60;
                    document.getElementById('source').innerHTML = `發電機: ${parseInt(electricProduction)} kwh / ${parseInt(electricProduction)/ 300000} %<br>`;
                    
                    electricProduction += res[1]['nameplateCapacity'];
                    document.getElementById('source').innerHTML += `太陽能: ${parseInt(res[1]['nameplateCapacity'])} kwh / ${parseInt(res[1]['nameplateCapacity'] / 300000)} %`;
                    
                    console.log(electricProduction);
                    document.getElementById('nameplateCapacity').innerHTML = `${parseInt(electricProduction)} kwh / 30000000 kwh`
                    updateBatteryLevel(parseInt(electricProduction/300000));
                })
        }

        $(document).ready(() => {
            getBatteryData();
            setInterval(getBatteryData, 6000);
        });
    </script>

<body>
    <!-- Top navigation -->
    <header>
        <div class="logo">
            <img src="./img/logo.png" alt="Logo">
            <h1>太陽能SCADA</h1>
        </div>
    </header>

    <!-- Main content -->
    <div class="content">
        <aside class="sidebar">
            <ul>
                <li onclick="window.location.href='./index'">首頁</li>
                <li onclick="window.location.href='./mail'">警報郵件</li>
                <li onclick="window.location.href='./battery'">電池資訊</li>
                <li onclick="window.location.href='./log'">日誌</li>
                <li onclick="window.location.href='./design'">架構圖</li>
            </ul>
        </aside>

        <main>

            <section class="battery-control container">
                <h2>電池儲存</h2>
                <div class="battery">
                    <div class="battery-cap"></div>
                    <div class="battery-level" id="batteryLevel">
                        <div class="battery-lines"></div>
                        <div class="battery-lines"></div>
                        <div class="battery-lines"></div>
                        <div class="battery-lines"></div>
                    </div>
                </div>
                <!-- <input type="range" id="batteryInput" min="0" max="100" value="50" oninput="updateBatteryLevel(this.value)"> -->
                <p>電池儲存百分比: <span id="batteryPercentage"></span>%</p>
            </section>
            <section class="right-panel container">
                <section class="battery-info">
                    <h2>詳細資訊</h2>
                    <div class="info">
                        <h3>電池電量 / 電池容量</h3>
                        <p id="nameplateCapacity"></p>
                    </div>
                </section>
                <section class="source-info">
                    <h2>電力來源</h2>
                    <div class="info" id="source"></div>
                </section>
            </section>
        </main>
    </div>
</body>
    

</html>