<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
    <script>
        // 1000 milliseconds = 1 second
        const interval = 20000;
        var chart;

        $(document).ready(
            () => {
                const ctx = document.getElementById('chart_canvas').getContext('2d');
                chart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [1],
                            datasets: [
                                {
                                    label: ['2'],
                                    data: [0],
                                    backgroundColor: [
                                        'rgba(30,30,30,0.7)'
                                    ],
                                    borderColor: [
                                        'rgba(30,30,30,0.7)'
                                    ]
                                }
                            ]
                        },
                        options: {
                            scales: {
                                x: {
                                    beginAtZero: true
                                },
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
            }
        );
        
        $(document).ready(function() {
            function getSolarData() {
                $.get('../api/getSolarData', function(res) {
                    document.getElementById('totalPowerGeneration').innerHTML = parseInt(res['totalPowerGeneration']) + ' kwh';
                    document.getElementById('monthGeneration').innerHTML = parseInt(res['monthGeneration']) + ' kwh';
                    document.getElementById('dayGeneration').innerHTML = parseInt(res['dayGeneration']) + ' kwh';
                    document.getElementById('currentGeneration').innerHTML = parseInt(res['currentGeneration']) + ' kwh';

                    document.getElementById('systemEfficiency').innerHTML = parseInt(res['systemEfficiency']) + ' %';
                    document.getElementById('co2Reduction').innerHTML = parseInt(res['co2Reduction']) + ' kg';
                    document.getElementById('todayPowerUsed').innerHTML = parseInt(res['todayPowerUsed']) + ' kwh';
                    document.getElementById('nameplateCapacity').innerHTML = parseInt(res['nameplateCapacity']) + ' kwh';
                });
            }

            function getSolarHistoryDatas() {
                return new Promise((resolve, reject) => {
                    $.get('../api/getSolarHistoryDatas', function(res) {
                        resolve(res);
                    });
                })
                
            }

            function updateChart() {
                getSolarHistoryDatas()
                    .then( recv => {
                        const currDate = new Date(); 
                        const chartData = recv[currDate.getFullYear()][currDate.getMonth()+1][currDate.getDate()];
                        chart.data.labels = Object.keys(chartData);
                        chart.data.datasets[0].data = [];

                        Object.keys(chartData).forEach( (minutes) => {

                            let minuteGeneration = 0;
                            Object.keys(chartData[minutes]).forEach( (data) => {
                                minuteGeneration += chartData[minutes][data]['powerGeneration'];
                            })
                            chart.data.datasets[0].data.push((minuteGeneration / 60));
                            console.log(minuteGeneration);
                        })


                        chart.update();

                        time = new Date(recv['timestamp']);
                        timeStr = `${time.getFullYear()}-${time.getMonth()+1}-${time.getDate()} ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}`

                        document.getElementById('timestamp').innerHTML = `系統啟動於 2023-01-01 08:00:00<br>`;
                        document.getElementById('timestamp').innerHTML += `目前時間: ${timeStr}`;
                    })
                
            }

            getSolarData();
            updateChart();
            setInterval(getSolarData, interval); 
            setInterval(updateChart, interval); 
        });
    </script>
<body>
    <!-- Top navigation -->
    <header>
        <div class="logo">
            <img src="logo.png" alt="Logo">
            <h1>solar energy scada</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Daily Data</a></li>
                <li><a href="#">Inverter Info</a></li>
                <li><a href="#">Historical Data</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main content -->
    <div class="content">
        <aside class="sidebar">
            <ul>
                <li onclick="window.location.href='./index'">Index</li>
                <li onclick="window.location.href='./mail'">Mail</li>
                <li onclick="window.location.href='./Battery'">Battery</li>
                <li>Monitor & Controll</li>
                <!-- <li>Menu 4</li> -->
            </ul>
        </aside>

        <main>
            <!-- Summary Info -->
            <p id="timestamp"></p>
            <section class="summary">
                <div class="box">
                    <h2 id="totalPowerGeneration"></h2>
                    <p>總發電量</p>
                </div>
                <div class="box">
                    <h2 id="monthGeneration"></h2>
                    <p>月發電量</p>
                </div>
                <div class="box">
                    <h2 id="dayGeneration"></h2>
                    <p>日發電量</p>
                </div>
                <div class="box">
                    <h2 id="currentGeneration"></h2>
                    <p>目前發電量</p>
                </div>
            </section>

            <!-- System Information -->
            <section class="system-info">
                <div class="info">
                    <h3 id="systemEfficiency"></h3>
                    <p>能源系統效率</p>
                </div>
                <div class="info">
                    <h3 id="co2Reduction"></h3>
                    <p>二氧化碳減少</p>
                </div>
                <div class="info">
                    <h3 id="todayPowerUsed"></h3>
                    <p>今日用電量</p>
                </div>
                <div class="info">
                    <h3 id="nameplateCapacity"></h3>
                    <p>儲存電量</p>
                </div>
            </section>

            <!-- Graph and Image Section -->
            <section class="data-visuals">
                <div class="graph">
                    <h2>今天能源生產圖</h2>
                    <canvas id="chart_canvas" width="400" height="200"></canvas>
                </div>
                <div class="solar-img">
                    <img src="../img/solar.webp" alt="Solar Panels" height="300" width="300">
                </div>
            </section>
        </main>
    </div>
</body>
</html>
