<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/log.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


    <script>
        function getLog(){
            fetch('/api/getLog')
                .then(function (response) {
                    return response.json();
                })
                .then(function (logs) {
                    console.log(logs['logEntries']);

                    logs['logEntries'].forEach(log => {
                        const logElement = document.createElement('section');
                        logElement.classList = `log-section ${(log['level']).toLowerCase()}`;

                        const logTitle = document.createElement('h2');
                        logTitle.innerHTML = log['level'] ;

                        const logEntry = document.createElement('div');
                        logEntry.classList = ['log-entry'];

                        const logTimestamp = document.createElement('span');
                        logTimestamp.classList = ['message'];
                        const date = new Date(log['timestamp']);
                        logTimestamp.innerHTML = `${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()} ${date.getHours()}:${date.getMinutes()+1}:${date.getSeconds()}&#9;&#9;`

                        const logMessage = document.createElement('span');
                        logMessage.classList = ['message'];
                        logMessage.innerHTML = log['message'];

                        logEntry.appendChild(logTimestamp);
                        logEntry.appendChild(logMessage);

                        logElement.appendChild(logTitle);
                        logElement.appendChild(logEntry);

                        logEntry.appendChild(document.createElement('br'));

                        const userID = document.createElement('span');
                        userID.innerHTML = `<br>User: ${log['userId']}<br>IP: ${log['ipAddress']}`;

                        logEntry.appendChild(userID);

                        document.getElementById('log').appendChild(logElement);
                    });
                });
        }

        $(document).ready(() => {
            getLog();
            setInterval(getLog, 6000);
        });
    </script>

<body>
    <!-- Top navigation -->
    <header>
        <div class="logo">
            <img src="./img/logo.png" alt="Logo">
            <h1>太陽能SCADA</h1>
        </div>
    </header>
    

    <!-- Main content -->
    <div class="content">
        <aside class="sidebar">
            <ul>
                <li onclick="window.location.href='./index'">首頁</li>
                <li onclick="window.location.href='./mail'">警報郵件</li>
                <li onclick="window.location.href='./battery'">電池資訊</li>
                <li onclick="window.location.href='./log'">日誌</li>
                <li onclick="window.location.href='./design'">架構圖</li>
            </ul>
        </aside>

        <main id="log">
        </main>
    </div>
</body>
    

</html>