<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/log.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


    <script>
        function getLog(){
            fetch('/api/getLog')
                .then(function (response) {
                    return response.json();
                })
                .then(function (logs) {
            //         <section class="log-section info">
            //     <h2>Info Logs</h2>
            //     <div class="log-entry">
            //         <span class="timestamp">2024-10-07 14:32:00</span>
            //         <span class="message">User accessed battery storage page.</span>
            //         <br>
            //         <span class="userId">222</span>
            //         <span class="ipAddress">111</span>
            //     </div>
            // </section>
                    console.log(logs['logEntries']);

                    logs['logEntries'].forEach(log => {
                        const logElement = document.createElement('section');
                        logElement.classList = `log-section ${(log['level']).toLowerCase()}`;

                        const logTitle = document.createElement('h2');
                        logTitle.innerHTML = log['level'] ;

                        const logEntry = document.createElement('div');
                        logEntry.classList = ['log-entry'];

                        const logTimestamp = document.createElement('span');
                        logTimestamp.classList = ['message'];
                        const date = new Date(log['timestamp']);
                        logTimestamp.innerHTML = `${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()} ${date.getHours()}:${date.getMinutes()+1}:${date.getSeconds()}&#9;&#9;`

                        const logMessage = document.createElement('span');
                        logMessage.classList = ['message'];
                        logMessage.innerHTML = log['message'];

                        logEntry.appendChild(logTimestamp);
                        logEntry.appendChild(logMessage);

                        logElement.appendChild(logTitle);
                        logElement.appendChild(logEntry);

                        document.getElementById('log').appendChild(logElement);


                        if ( log['level'] == 'INFO'){

                        }
                    });
                });
        }

        $(document).ready(() => {
            getLog();
            setInterval(getLog, 6000);
        });
    </script>

<body>
    <!-- Top navigation -->
    <header>
        <div class="logo">
            <img src="./img/logo.png" alt="Logo">
            <h1>solar energy scada</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Daily Data</a></li>
                <li><a href="#">Inverter Info</a></li>
                <li><a href="#">Historical Data</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
    </header>
    

    <!-- Main content -->
    <div class="content">
        <aside class="sidebar">
            <ul>
                <li onclick="window.location.href='./index'">Index</li>
                <li onclick="window.location.href='./mail'">Mail</li>
                <li onclick="window.location.href='./Battery'">Battery</li>
                <li>Monitor & Controll</li>
            </ul>
        </aside>

        <main id="log">
        </main>
    </div>
</body>
    

</html>